*{
    margin: 0px;
    padding: 0px;
}

#container{
    width: 90%;
    margin: 10px auto;
}
    

#mytable{
    /* background-color: hotpink; */
}    

.mytable{
    display: table !important;
}

.approved{
    background-color: green !important;;
    color: white !important;;
    font-weight: bolder !important;;
} 

.rejected{
    background-color: red !important;;
    color: white;
    font-weight: bolder;
}

table th{
    border: 1px solid gray !important;
    font-size: 20px;
    position: sticky !important;
    /* z-index: 1 !important; */
    top: 0 !important;
    background-color: black;
    color: white;
}

table td{
    border: 1px solid gray;
    word-wrap: break-word !important;
    
}