*{
    margin: 0px;
    padding: 0px;
}

#container{
    width: 100%;
    margin: 1px auto !important;
}
    

#mytable{
    /* background-color: hotpink; */
    /* display: table !important; */
}    

.mytable{
    /* display: table !important; */
    width: 100% !important;
}

.approved{
    background-color: green !important;;
    color: white !important;;
    /* font-weight: bolder !important;; */
} 

.rejected{
    background-color: red !important;;
    color: white;
    /* font-weight: bolder; */
}

table th{
    border: 1px solid gray !important;
    font-size: 20px;
    /* position: sticky !important;
    z-index: 1 !important;  
    top: 0 !important;
    background-color: black;
    color: white; */
}

table td{
    border: 1px solid gray;
    word-wrap: break-word !important;
    
}